body {
	margin: 0;
	padding: 0;
	background: lightgray;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	text-align: center;
}

#wrap {
	
	
	text-align: center;
	display: flex;
	justify-content: center;
}


ul {
	list-style: none;
	
}

#picture {
	width: 200px;
	
}

#pictures {
	display: flex;
	justify-content: center;
}